<h1 > Trello clone  </h1>

<div class = "start-page-container">

<span >
  <%= link to: Routes.session_path(FrontendWeb.Endpoint, :logout) do%>
      <button
        class="btn-logout"
        type="button" class = "btn" title = "Sign-out"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
  <% end %>
</span>
<%= live_render(@conn, FrontendWeb.Live.HomeLive.Index ,
 session: %{
        "current_user" => @current_user
      }
) %>


</div>